#error{
	color: red;
	font-weight: bold;
	display: none;
}
#submit{
	display: none;
}
#albumArtist{
	display: block;
}
#artistInfo{
	display: none;
}
.note{
	font-style: italic;
}
#plus{
	cursor: pointer;
	width: 20px;
}